streamlit
google-api-python-client
matplotlib
numpy
pandas
sklearn
keras
tensorflow 
plotly
xgboost
textblob
youtube_transcript_api
keybert
opencv-contrib-python
pafy
moviepy
youtube-dl
pydot
opencv-python==4.5.5.64
opencv-python-headless==4.5.2.54
opencv-contrib-python-headless
pillow==8.2.0
