streamlit
google-api-python-client
matplotlib
numpy
pandas
sklearn
keras
tensorflow 
plotly
xgboost
textblob
youtube_transcript_api
keybert
opencv-python==4.5.5.64
opencv-contrib-python==4.5.5.62
pafy
moviepy
youtube-dl
pydot
pillow==8.2.0
