streamlit
google-api-python-client
matplotlib
numpy
pandas
sklearn
keras
tensorflow 
plotly
xgboost
textblob
youtube_transcript_api
keybert
opencv-contrib-python==4.6.0.66
opencv-python-headless==4.1.2.30
pafy
moviepy
youtube-dl
pydot
